/*ע��ɹ�begin*/
.qfb-cencer{
	
}
.qfb-cencer.before{
    background-color:#f5f5f5;
}
.rscontent-top{
    width:100%;
    height:3.4rem;
    background: #0078ff;
}
.logo-main{
    width: 100%;
    padding: 7px 0;
    position: relative;
    text-align: center;
}
.logo-mainp{
	text-align: left;
}
.logo-main a{
    display: block;
}
.logo-main .before{
    border: #333 solid 2px;
    position: absolute;
    left:18px;
    top: 7px;
    margin-top: 13px;
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.qfb-title{
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    color: #333;
    margin-right: 0.4rem;
    
}
#index-slide{
    position:relative;
    height: 2.5rem;
}
.qfb-rsbanner{
    height: 100%;
    background: url("../img/map.png") repeat-x;
    background-size:contain;
    position:absolute;
    top: 0.4rem;
    width: 600%;
    z-index: 0;
    opacity:0.5;
    animation: wave1 35s linear .4s infinite normal;
    -moz-animation: wave1 35s linear .4s infinite normal;
    -webkit-animation: wave1 35s linear .4s infinite normal;
    -o-animation: wave1 35s linear .4s infinite normal
}
@-webkit-keyframes wave1 {
    from {
        left: -236px
    }
    to {
        left: -1233px
    }
}
@-moz-keyframes wave1 {
    from {
        left: -236px
    }
    to {
        left: -1233px
    }
}
@-o-keyframes wave1 {
    from {
        left: -236px
    }
    to {
        left: -1233px
    }
}
@keyframes wave1 {
    from {
        left: -236px
    }
    to {
        left: -1233px
    }
}

.success-main{
    position: absolute;
    width: 100%;
    padding-top: 0.6rem;
    text-align: center;
}
.success-main img{
    width:28%;
    height: auto;
    margin: 0 auto;
}
.success-main p.tit{
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 20px;
}
.success-main p{
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.qfb-footerbox{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding: 0.25rem 0 0.2rem 0;
}
.qfb-imenu{
	color:#0091ff
}
.qfb-copyright1{
	margin-top: 10px;
	color:#ccc;
	text-align: center;	
	font-size: 12px;
}

.qfb-top-bottom{
    width: 100%;
    height:auto;
    padding-top: 0.1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.qfb-top-bottom a{
     width: 60%;
     height: 0.62rem;
    cursor: pointer;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.apple{
    display: none;
}
.qfb-android-btn{
    background: url("../img/android.png")no-repeat;
    background-size: 100%;
}
.qfb-android-btn:hover{
    background: url("../img/dandroid .png") no-repeat;
    background-size: 100%;
}
.qfb-android-btn:active{
    background: url("../img/dandroid .png") no-repeat;
    background-size: 100%;
}

.qfb-apple-btn{
    background: url("../img/apple.png")no-repeat;
    background-size: 100%;
}
.qfb-apple-btn:hover{
    background: url("../img/dapple.png") no-repeat;
    background-size: 100%;
}
.qfb-apple-btn:active{
    background: url("../img/dapple.png") no-repeat;
    background-size: 100%;
}
.qfb-rstext{
    text-align: center;
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
}
.qfb-footermain{
    padding: 0.25rem 0 0.2rem 0;
}
.qfb-copyright{
    text-align: center;
    color:#cccccc;
    line-height: 22px;
    font-size: 10px;
}
/*ע��ɹ�end*/
/*��������begin*/
.cpcontent-top{
    width: 100%;
    height: auto;
    border-top: 2px #dbdbdb solid;
}
.cpcontent-top img{
    width: 100%;
    height: auto;
}
.qfb-cplist{
    padding-top: 10px;
    background: #f5f5f5;
}
.qfb-cplist a{
	width: 100%;
	display: block;
}
.qfb-common{
    width: 100%;
    display: block;
    padding:10px 20px 10px 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px #dbdbdb solid;
}
.qfb-common1{
    position: relative;
    width: 100%;
    display: block;
    padding:10px 18px 10px 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px #dbdbdb solid;
    display: -webkit-flex;
    display: flex;
}
.qfb-common1 .qfb-cpicon1{
    background-position:-1.32rem 0;
}
.qfb-common1 .qfb-cpicon2{
    background-position:-1.588rem 0;
}
.qfb-common1 .qfb-cpicon3{
    background-position:-1.87rem 0;
}
.qfb-icon{
    width:0.25rem;
    height:0.25rem;
    display: inline-block;
    margin-right:0.1rem;
    vertical-align: middle;
    background:url(../img/icon.png) no-repeat;
    background-size: 2.1rem;
}
.qfb-lists span{
	font-weight: bold;	
}
.qfb-icon-right{
    border: 2px #999 solid;
    position: absolute;
    right: 24px;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border-top: none;
    border-right: none;
    top:17px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.qfb-footerbox1{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0.1rem 0;
}
/*��������end*/
/* ��ҳbegin*/
.logo-main{
    /*width: 100%;*/
    /*height: 40px;*/
    /*padding: 7px 0;*/
    /*margin: 0 auto;*/
    /*vertical-align: middle;*/
    
}
.logo-main .logo{
    width: 106px;
    height: 38px;
    float: left;
    background: url("../img/logo.png") no-repeat;
    background-size: 106px 38px;
    margin-left: 4.1%;
    font-size: 14px;
}
.make-wrap{
    position: relative;
    float: left;
    font-size: 14px;
    padding-left: 12px;
    color: #000;
    line-height:20px;
}
.make-wrap:before{
	position: absolute;
    left: 0;
    content: "";
    top:8px;
    width: 1px;
    height: 24px;
    background: #DADADA;
    margin-left: 5px;
    margin-right: 5px;
    
}
.qfb-btn-box{
    position: absolute;
    right: 18px;
    top:10px;
    height:34px;
}
.qfb-btn-boxp{
	right: 10px;
}
.qfb-btn-btn{
    width:90px;
    height:34px;
    line-height:34px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    background: #ff9e00;
    font-size: 14px;
    color:#fff;
    text-align: center;
    vertical-align: top;
    margin-right:10%;
}
.qfb-btn-box img{
    width: 20%;
    vertical-align: middle;
}
.content-top{
    width: 100%;
    height:auto;
    border-top: 1px #dbdbdb solid;
    position: relative;
    font-size: 0;
}
.content-top img{
    width: 100%;
    height: auto;
}
/*轮播 s*/
.addWrap {
  position: relative;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
}
.addWrap .swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.addWrap .swipe-wrap {
  overflow: hidden;
  position: relative;
}
.addWrap .swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}
/*轮播 e*/
#position {
    position: absolute;
    bottom: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    border-radius: 8px;
}
#position li {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    display: inline-block;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
#position li.cur {
    background: #2ca8fe;
}
.content-form{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding: 0.1rem 0.40rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-wrap{
    width: 100%;
    padding-bottom: 0.1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-box{
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-box1{
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-box .txt{
    line-height:0.45rem;
    display: inline-block;
    position: absolute;
    padding-left: 0.1rem;
    font-size: 14px;
}
.input-inbox{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    vertical-align: middle;
    position: relative;
    border: 1px #dbdbdb solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height:0.45rem;
}
.input-box input{
    width: 100%;
    height:0.45rem;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    font-family: "microsoft yahei";
}
.input-inbox .mobile{
    padding-left:0.70rem;
}
.input-inbox .password{
    padding-left:0.85rem;
}
.input-inbox .r_mobile{
    padding-left:1.25rem;
}
.input-box1 input {
  width: 100%;
  height: 0.45rem;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 0.08rem;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-family: "microsoft yahei";
  
}
.input-borde{
	border-radius: 5px;
	border: 1px #dbdbdb solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.qfb-button {
  height: 0.45rem;
  border: 1px #2ca8fe solid;
  padding: 0 0.1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #2ca8fe;
  background: #fff;
  font-size: 16px;
  margin-left: 0.2rem;
}
.qfb-button:hover{
    background:#2ca8fe ;
    color: #fff;
}	
.qfb-button:active{
    background:#2ca8fe ;
    color: #fff;
}
.content-form .service{
    width: 100%;
    height: 0.34rem;
    line-height:0.34rem;
    vertical-align: middle;
    padding: 0.04rem 0;
    position: relative;
}
.check{
    margin-right:0.1rem ;
    display: inline-block;
    vertical-align: middle;
    width:0.12rem;
    height:0.12rem;
    outline: 0;
    background: url(../img/check.png) no-repeat;
    background-size: 100%;
}
.service i{
    position: absolute;
    left: 0;
    top: 0.12rem;
    margin-right: 0.1rem; ;
    display: inline-block;
    vertical-align: middle;
    width:0.18rem;
    height:0.18rem;
    outline: 0;
    background: url(../img/check.png) no-repeat;
    background-size: 0.17rem;
}
.service i.nocheck{
    background: url(../img/dcheck.png) no-repeat;
    background-size: 100%;
}
.share-btn button{
    width: 100%;
    height:0.4rem;
    display: block;
    border:2px #2ca8fe solid;
    text-align: center;
    font-size: 18px;
    color: #2ca8fe;
    margin:0.1rem  0;
    background: #f5f5f5;
    border-radius:1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    font-family: "microsoft yahei";
    /*cursor: pointer;*/
    outline:none
}
.share-btn button:hover{
    width: 100%;
    height:0.4rem;
    display: block;
    text-align: center;
    line-height: 0.4rem;
    font-size: 18px;
    color: #fff;
    margin:0.1rem  0;
    background: #2ca8fe;
    border-radius:1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    font-family: "microsoft yahei";
    cursor: pointer;
    border: none;
    outline:none
}
.share-btn button:active{
    width: 100%;
    height:0.4rem;
    display: block;
    text-align: center;
    line-height: 0.4rem;
    font-size: 18px;
    color: #fff;
    margin:0.1rem  0;
    background: #2ca8fe;
    border-radius:1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    font-family: "microsoft yahei";
    /*cursor: pointer;*/
    border: none;
    outline:none
}
.icontent-bottom{
    width: 100%;
    height: auto;
}
.icontent-bottom img{
    width: 100%;
    display: block;
}
.qfb-footerbox ul{
    width: 100%;
    height: 0.2rem;
    text-align: center;
    padding-bottom: 0.1rem;
    display: -webkit-flex;
    display: -webkit-flex;
    display: flex;
}
.qfb-footerbox li{
    display: inline-block;
    width: 49.8%;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
    zoom: 1;
    border-right: 1px solid #999999;
    box-sizing: border-box;	
}
.qfb-footerbox li:last-child{
    border-right: none;
}
.qfb-imenu:active{
    color: #0091ff;
}
.qfb-imenu:hover{
    color: #0091ff;
}
.qfb-ifooter-bottom ul{
    width: 100%;
    height: auto;
    background-color: #f0f0f2;
    border-top: 1px #dbdbdb solid;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.qfb-ifooter-bottom li{
    width: 25%;
    height: 0.8rem;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
    text-align: center;
    padding-top: 0.1rem;
}
.qfb-ifooter-bottom .menu-btn1{
    background-position: 0 0;
}
.qfb-ifooter-bottom li:hover .menu-btn1{
    background-position: 0 -0.3rem;
}
.qfb-ifooter-bottom li:active .menu-btn1{
    background-position: 0 -0.3rem;

}
.qfb-ifooter-bottom li .menu-btn2{
    background-position: -0.3rem 0;
}
.qfb-ifooter-bottom li:hover .menu-btn2{
    background-position: -0.3rem -0.3rem;
}
.qfb-ifooter-bottom li:active .menu-btn2{
    background-position: -0.3rem -0.3rem;
}
.qfb-ifooter-bottom li .menu-btn3{
    background-position: -0.6rem 0;

}
.qfb-ifooter-bottom li:hover .menu-btn3{
    background-position: -0.6rem -0.3rem;
}
.qfb-ifooter-bottom li:active .menu-btn3{
    background-position: -0.6rem -0.3rem;
}
.qfb-ifooter-bottom li .menu-btn4{
    background-position: -0.9rem  0;
}
.qfb-ifooter-bottom li:hover .menu-btn4{
    background-position: -0.9rem -0.3rem;
}
.qfb-ifooter-bottom li:active .menu-btn4{
    background-position: -0.9rem -0.3rem;
}
.qfb-imenu-icon{
    width: 0.3rem;
    height: 0.3rem;
    display: block;
    margin: 0 auto 0.1rem;
    background:url(../img/icon.png) no-repeat;
    background-size: 2.0rem;
}
.qfb-ifooter-bottom li:hover .qfb-itext{
    color: #0090ff;
}
.qfb-ifooter-bottom li:active .qfb-itext{
    color: #0090ff;
}
.qfb-itext{
    color: #656565;
}
/*��ҳend*/
/*��ϵ����begin*/
.q-ccontent{
    width: 100%;
    padding: 0 24px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}
.q-ccontent dl{
    display: table-cell;
    padding-left: 0.15rem;
    vertical-align: middle;
}
.q-ccontent dt{
    font-size: 16px;
    margin-bottom:0.05rem ;
    font-weight: bold;

}
.contact-phone{
}

.qfb-information{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.1rem 0;
    display: table;
}
.qfb-map{
    width: 100%;
    height: auto;
    border: 1px #d6d6d6 solid;
     margin-top: 10px;
}
.qfb-map img{
    width: 100%;
    height: auto;
   
}
.service-time{
    color: #afafaf;
}
.q-ccontent .qfb-cmeu1{
    background-color: #0091ff;
    background-position:0.02rem -1.42rem;
}
.q-ccontent .qfb-cmeu2{
    background-color: #0091ff;
    background-position:-0.47rem -1.42rem;
}
.q-ccontent .qfb-cmeu3{
    background-color: #0091ff;
    background-position:-0.95rem -1.42rem;
}
.q-ccontent .qfb-cmeu4{
    background-color: #0091ff;
    background-position:-1.43rem -1.42rem;
}
.q-ccontent .qfb-cmeu5{
    background-color: #0091ff;
    background-position:-1.9rem -1.42rem;
}
.qfb-cicon{
    width:0.5rem;
    height: 0.5rem;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    vertical-align: middle;
    background: url(../img/icon.png) no-repeat;
    background-size:3rem;

}
.qfb-information .code{
    width: 40%;
    padding:0.1rem 0.1rem 0 0.05rem;
    text-align: center;
}
.qfb-information .code img{
    width: 100%;
}
/*��ϵ����end*/
/*���ں�begin*/
.qfb-econtent-top{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0.25rem 0 0.2rem 0;
    border-top: 2px #dbdbdb solid;
}
.qfb-econtent-topmain{
   /* margin-top:0.1rem ;*/
}
.qfb-econtent-topmain p{
    text-align: center;
    font-size: 16px;
}
.qfb-ebtn{
    width:65px;
    height:34px;
    line-height:34px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    background: #29bf42;
    font-size: 14px;
    color:#fff;
    text-align: center;
    vertical-align: top;
    margin:18px;
}
.qfb-econtent-top .ems{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.qfb-econtent-top .ems img{
    width: 48%;
    height: auto;
}
.qfb-econtent-bottommain{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
}
.qfb-econtent-bottommain li{
    width: 100%;
    height: auto;
    -webkit-box-flex:1;
    text-align: center;
    color:#999;
    padding: 0 18px;
}
.qfb-econtent-bottommain img{
    width: 100%;
}

/*���ں�end*/
/* �����ֲᡢ�������˻���ȫbegin*/
.qfb-text-content{
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px #e6e6e6 solid;
}
.qfb-text-content li{
    width: 100%;
    border-top: 1px #e6e6e6 solid;
    line-height: 35px;
    padding-left:18px;
    padding-right:14px;
    box-sizing: border-box;
}
.qfb-headings{
    position: relative;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
}
.qfb-according{
	background: #f5f5f5;
}
/*.qfb-headings:hover{
    color: #0091ff;
}
.qfb-headings:active{
    color: #0091ff;
}*/
.qfb-according{
    padding: 20px 0px 20px 0px;
    display: none;
}
.qfb-triangle-icon{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #999999;
    position: absolute;
    right:16px ;
    top:18px;
}

.qfb-triangle-icon2{
    border-bottom: 6px solid #333;
    border-top: none;
}
.qfb-text-content  p{
    padding-left:12px;
    border-top: 21px;
    font-size: 14px;
    line-height:30px;
}
/*�����ֲᡢ�������˻���ȫ end*/
/*下载页面S*/
.load-top {
  width: 100%;
  height: auto;
  background: #ebebeb;
  display: table;
}
.load-top li {
  width: 100%;
  font-size: 0;
}
.load-top li img {
  width: 100%;
  height: auto;
  line-height: 0;
  border: 0;
}
.load-box {
  position: relative;
}
.load-top .load-btn {
  position: absolute;
  top: 0.3rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.load-top .load-btn img {
  width: 100%;
  height: auto;
  display: block;
}
.load-top .load-btn .load {
  width: 50%;
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.load-content {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 46px;
}
.load-content li {
  width: 100%;
  font-size: 0;
}
.load-content li img {
  width: 100%;
  height: auto;
}
.load-footer {
  height: 64px;
  line-height: 26px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 20px;
  color: #ccc;
  font-size: 12px;
}
.service-pos {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  padding: 5px 0;
  background: #5a9bfb;
  text-align: center;
}
.service-pos a {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: block;
  line-height: 32px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-left: 1px #e58e02 solid;
}
.service-pos a:first-child {
  border-left: none;
}
.bomb-wrap, .abomb-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.bomb-box {
  position: relative;
  max-width: 980px;
  height: auto;
  margin: 0 auto;
}
.bombimg {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
}
.bombimg img {
  width: 100%;
  height: auto;
}
.bombbg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(3,3,3,0.7);
}
.foorter-rightcopy{
	padding: 16px 0 44px 0;
	text-align: center;
  color: #cccccc;
  line-height: 22px;
  font-size: 10px;
}
/*下载页面E*/

/*设置页面 S*/
.bomb-fiexd {
  position: fixed;
  overflow: hidden;
}
.load-contentp {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
.load-contentp li {
  width: 100%;
  font-size: 0;	
}
.load-contentp li img {
  width: 100%;
  height: auto;
}
.bomb-mian a, .load-contentp a {
  margin-top: 0.3rem;
  background: #65a7fc;
  cursor: pointer;
}
.bomb-wrap, .abomb-wrap, .bbomb-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.bomb-wrapp {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.bomb-box {
  position: relative;
  max-width: 980px;
  height: auto;
  margin: 0 auto;
}
.bomb-mian {
  width: 72.8%;
  height: auto;
  margin: 1.5rem auto;
  z-index: 99;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  background: #fff;
  padding: 0.64rem 0.32rem;
}
.bomb-mian img {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
}
div.bomb-mian span {
  display: block;
  margin-top: 0.3rem;
  line-height: 24px;
  font-size: 18px !important;
}
.set-ios9 {
  font-style: normal;
  color: #65a7fc;
}
 .bomb-mian a, .load-content a {
  width: 100%;
  height: 40px;
  display: block;
  background: #ff4507;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  font-family: "microsoft yahei";
  cursor: pointer;
}
.seting-btn{
	padding: 0 5%;
}
.bomb-mian a, .load-contentp a {
  margin-top: 0.3rem;
  background: #65a7fc;
  cursor: pointer;
}
.qfb-footerp{
	padding-bottom: 42px;
}
/*设置页面 E*/
/*����Э��begin*/
.mod_container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
    background: #f0f0f0;
    color:#333;
    padding-bottom: 20px;
}
.dm-money-top{
    background: #2b81d1;
    font-weight: bold;
    color: #fff;
    padding:30px 20px;
    margin-bottom: 8px;
}
.dm-money-top .maincenter{
    text-align: center;
    font-size: 18px;
}
.dm-money-content{
    padding:2px 20px 10px 20px;
}
.dm-money-content p{
    line-height:28px;
    font-size: 14px;
    color:#333;
}
.dm-money-content h3{
    font-size: 16px;
    font-weight: bold;
}
b,strong {
    font-weight: bold;
}
.dm-money-content .center{
    text-align: center;
}
.bluezed-scroll-top {
    position: fixed;
    bottom: 10px;
    right: 15px;
    display: none;
    z-index: 9999999;
    text-align: center;
}
.bluezed-scroll-top-circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #a0a0a0;
    padding-top: 5px;
    font-size: 1.25em;
    color: #ffffff;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*����Э��end*/


